<main class="space-y-3">
  <h1 class="text-5xl !text-[40px] font-bold">Krish Gupta</h1>
  <p class="text-lg">Hi, I’m Krish, a high school junior who <b>builds applications and experiences for fun.</b> <br /> I’m also seen contributing to and building open source software.</p>
</main>
